/* Edit Navigation Bar */

.nav-link[rel="next"] {display: none;} /* Remove Arrows */
.nav-link[rel="prev"] {display: none;}

.navbar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 300% !important;
    margin: 1;
}

.navbar .navbar-nav.ms-md-auto .nav-item {
    margin: 0 !important;
}

/* Font Size */

p {
    font-size: 144%;
}

a {
    font-size: 144%;
}

.col-md-12 a {
    font-size: 100%;
}

/* Table */

.center-header {
    text-align: center;
}

.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1%;
    text-align: left;
}

.table_component th {
    text-align: center;
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 1%;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5%;
}

/* Captioned Images */

.centered-figure {
    text-align: center; /* Center the text (caption) inside the figure */
    margin: auto;  /* Auto margin to center the figure itself */
    width: fit-content; /* Ensure the figure width fits the content (image + caption) */
  }
  
.centered-image {
    width: 70%;
    height: auto;    /* Maintain the aspect ratio */
}

.caption {
    font-size: 130%; /* Adjust the font size */
    margin-top: 0.5%; /* Space between the image and the caption */
    margin-bottom: 0.5%;
}

/* Planes Boxes */

.plane-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    column-gap: 2%; /* Space between the boxes */
}

/* For smaller screens */
@media (max-width: 1024px) {
    .plane-grid-container {
        grid-template-columns: 1fr; /* Switch to a single column */
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }
}

.plane-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set the width of the entire box */
    aspect-ratio: 1; /* Height matches width */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow underneath */
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s; /* Optional: Smooth transition for shadow */
    margin-bottom: 6%;
}
  
.plane-image-section {
    width: 100%;
    height: 75%; /* Fixed height for the image section */
    overflow: hidden; /* Hide any image overflow */
}
  
.plane-image {
    width: 100%; /* Image width fills the section */
    height: 100%; /* Image height fills the section */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
  
.plane-caption {
    font-size: 100%;
    display: flex; /* Use Flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 25%; /* Match the remaining height of the box */
    text-align: center; /* Center text alignment */
}

/* Planes Boxes */

.company-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    column-gap: 2%; /* Space between the boxes */
}

/* For smaller screens */
@media (max-width: 1024px) {
    .company-grid-container {
        grid-template-columns: 1fr; /* Switch to a single column */
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }
}

.company-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set the width of the entire box */
    height: 80%;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow underneath */
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s; /* Optional: Smooth transition for shadow */
    margin-bottom: 6%;
}
  
.company-text {
    font-size: 100%;
    display: flex; /* Use Flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Match the remaining height of the box */
    text-align: center; /* Center text alignment */
}
